.play-button {
    margin: 5px;
    border: 1.5px solid black;
    border-radius: 0px 100px 100px 100px;
    width: 60%;
    height: 50px;
    max-width: 250px;
    font-size: 16pt;
}

#title {
    display: inline-block;
    padding-top: 6px;
}

#error-message{
    color: red;
}

#help {
    display: inline-block;
    float: right;
}

.dummy-play-button {
    opacity: 0.3;
}

.hide {
    display: none;
}

.deck-selections {
    text-align: center;
}

.play-buttons {
    text-align: center;
}

