.deck-fab {
    position: fixed;
    bottom: 15px;
    right: 30px;
}

.hide {
    display: none;
}

.round-button {
    border: 1.5px solid black;
    border-radius: 0px 100px 100px 100px;
    margin-left: 20px;
}

#deck-header {
    display: inline-block;
    margin-right: 5px;
}

#title-input {
    margin-left: 20px;
}

#name-form {
    display: inline-block;
}

#edit-icon {
    padding-bottom: 10px;
}
