<div layout-gt-sm="row">
    <div flex-gt-xs="60" flex-offset-gt-xs="20" flex-xs="90" flex-offset-xs="5" *ngIf="this.deck && this.deck.cards">
        <span class="name-bar">
            <h2 [ngClass]="{'hide': this.editMode != false}" id="deck-header" > {{this.deck.name}}</h2>
            <form id="name-form" #newTitleForm="ngForm">
                <mat-form-field id="title-input" [ngClass]="{'hide': this.editMode != true}">
                    <input id="text-input" matInput required #input type="text"  [(ngModel)]="newDeckTitle"
                           placeholder="{{deck.name}}" name="newDeckTitle" (keyup.enter)="saveEdit()" >
                </mat-form-field>
                <button [ngClass]="{'hide': this.editMode != false}" id="edit-name" mat-button
                    id="edit" (click)="changeMode()"> <i id="edit-icon" class="material-icons">mode_edit</i>
                </button>
                <button [ngClass]="{'hide': this.editMode != true}" color="warn" mat-raised-button class="round-button"
                    id="save" (click)="saveEdit()" [disabled]="!newTitleForm.form.valid" type="submit">Save Changes
                </button>
                <button [ngClass]="{'hide': this.editMode != true}" color="warn" mat-raised-button class="round-button"
                    id="cancel" (click)="cancelEdit()">Cancel
                </button>
            </form>
        </span>
        <td-message id="no-cards-message" *ngIf="this.deck.cards.length == 0" label="No Cards"
                    sublabel="This deck is empty, tap + to add cards.">
        </td-message>
        <app-card class="deck-card" *ngFor="let card of this.deck.cards" [card]="card">
            <a> id="{{card.word}}"</a>
        </app-card>
    </div>
</div>


<button mat-fab id="cardDialog" class="deck-fab" matTooltip="Add Card" matTooltipPosition="left"
        (click)="this.openAddDialog()">
    <mat-icon class="md-24" aria-label="Add Card">add</mat-icon>
</button>
