
.round-button {
    border-radius: 100px;
    border-top-left-radius: 0px;
    border-style: solid;
    border-width: 1.5px;
    border-color: black;
}

#results-title{
    text-align: center;
    font-weight: bold;
}

.nav-buttons{
    text-align: center;
}

.card-entire{
    min-height: 300px;
    min-width: 500px;
}

.first-score{
    padding-top: 10%;
}

#player1-title{
    font-size: 25px;
    float: left;
    font-weight: bold;
    margin-left: 10px;
}

#player1-score{
    margin-top: 5%;
    text-align: center;
    font-size: 80px;
    font-weight: normal;
}

#player2-title{
    font-size: 25px;
    float: right;
    font-weight: bold;
    margin-right: 10px;
}

#player2-score{
    margin-top: 5%;
    font-weight: normal;
    text-align: center;
    font-size: 80px;
}

@media screen and (max-width: 700px) {
    .card-entire {
        min-height: 200px;
        min-width: 300px;
    }
}

@media screen and (max-width: 500px) {
    .card-entire {
        min-height: 100px;
        min-width: 200px;
    }

    #player1-title{
        margin-left: 0px;
        float: none;
        text-align:center;
        font-size: 20px;
    }

    #player2-title{
        margin-right: 0px;
        float: none;
        text-align:center;
        font-size: 20px;
    }

    #player1-score{
        font-size: 70px;
    }

    #player2-score{
        font-size: 70px;
    }
}


@media screen and (max-width: 350px) {
    .card-entire {
        min-height: 30%;
        min-width: 30%;
    }

    #player1-score{
        font-size: 50px;
    }

    #player2-score{
        font-size: 50px;
    }
}
