
<mat-card>
    <mat-card-title class="faq-title">SAGE Vocabulary: Teacher's Guide</mat-card-title>
    <mat-card-content>
        <mat-expansion-panel class="faq-entry section-signIn">
            <mat-expansion-panel-header>
                <mat-panel-title>
                    How to sign in
                </mat-panel-title>
            </mat-expansion-panel-header>
            <ul>
                <li>Navigate to the “Teacher Zone” located on the side menu
                <li>Sign in with your google account
                <li>If your account is not working, see the FAQ “I signed in but nothing is working”
            </ul>
        </mat-expansion-panel>

        <mat-expansion-panel class="faq-entry section-createDecks">
            <mat-expansion-panel-header>
                <mat-panel-title>
                    How to create decks
                </mat-panel-title>
            </mat-expansion-panel-header>
            <ul>
                <li>Navigate to the Decks page located in the side menu
                <li>Create a deck by pressing the ⨁ symbol in the bottom right of the screen
                <li>Name your deck and confirm
                <li>Create as many decks as you like! Decks can always be renamed and deleted by navigating to the deck
                    page and clicking into the desired deck.
            </ul>
        </mat-expansion-panel>
        <mat-expansion-panel class="faq-entry section-addCards">
            <mat-expansion-panel-header>
                <mat-panel-title>
                    How to add cards to you deck
                </mat-panel-title>
            </mat-expansion-panel-header>
            <ul>
                <li>To create new cards and add them to your deck, see the FAQ “How to create cards”
                <li>Add existing cards to your deck:
                <li> Navigate to the cards page, located in the side menu</li>
                <li>Select the desired deck in the dropdown, and click the “select” button located near the top.</li>
                <li>You can now select/deselect cards by clicking them</li>
                <li>After selecting the desired cards, click “add”. The cards will be directly imported into the deck.
                </li>
                <li>You can also mass-delete cards from decks the same way.</li>
            </ul>
        </mat-expansion-panel>

        <mat-expansion-panel  class="faq-entry section-createCards">
            <mat-expansion-panel-header>
                How to create cards:
            </mat-expansion-panel-header>
            <ul>
                <li>Navigate to the decks page, located in the side menu</li>
                <li>Select your desired deck</li>
                <li>Click the ⨁ button in the bottom right of the screen to add a card</li>
                <li>Fill in the required information and click confirm</li>
            </ul>
        </mat-expansion-panel>

        <mat-expansion-panel class="faq-entry section-addEmail">
            <mat-expansion-panel-header>How to add another authorized email account?</mat-expansion-panel-header>
            <ul>
            <li>This feature does not currently exist. Please contact the developers who created the SAGE system if you
                need assistance.</li>
                <li>you may also consult the Setup Guide</li>
            </ul>
        </mat-expansion-panel>
        <mat-expansion-panel class="faq-entry section-signInBroken">
            <mat-expansion-panel-header>I signed in, but nothing is working!</mat-expansion-panel-header>
            <ul>

            <li>Only specific email accounts are authorized on the SAGE system. This is a safety feature to stop
                students
                from
            <li>signing in and accessing teacher specific features. When signing in, make sure to use an authorized
                email
            <li>account. If you do not possess an authorized account, please contact another SAGE teacher to have your
                account added.
            </li>
            </ul>
        </mat-expansion-panel>
        <mat-expansion-panel class="faq-entry section-noAccess">
            <mat-expansion-panel-header>I am a teacher, but I don't have access to any of the teacher features</mat-expansion-panel-header>
            <ul>

            <li>You must sign in with an Authorized SAGE account before you can access teacher specific sections of the
                SAGE
            <li>app. This is a safety feature to stop students from signing in and accessing teacher specific features.
                Please
            <li>see the FAQ “How to sign in” for more information.</li>
            </ul>
        </mat-expansion-panel>
    </mat-card-content>
    <mat-card-actions>
        <div class="g-signin2" data-onsuccess="onSignIn"></div>
    </mat-card-actions>
</mat-card>

