<mat-card>
    <mat-card-title id="help-title"><strong>Help & Rules</strong></mat-card-title>
    <mat-divider></mat-divider>
    <mat-card-content id="help-content">
        <mat-expansion-panel class="sage-rules section-overview">
            <mat-expansion-panel-header>
                <mat-panel-title>
                    Overview
                </mat-panel-title>
            </mat-expansion-panel-header>
            <ul class="content-rules">
                <li>
                    SAGE is vocabulary game played with two to four people, where
                    cards are randomly chosen from a deck.
                </li>
                <li>
                    For every card chosen from the deck, one person will be trying to guess the word on the card
                    and the others will be judging if that person's guess is correct.
                </li>
                <li>
                    When the guesser gets the word right, another player will become the guesser.
                </li>
                <li>
                    The game ends after the selected number of cards.
                </li>
                <li>
                    To start a game, press play from the homepage, choose your deck, and press play!
                </li>
            </ul>
        </mat-expansion-panel>

        <mat-expansion-panel class="sage-rules section-guesser">
            <mat-expansion-panel-header>
                <mat-panel-title>
                    Guesser
                </mat-panel-title>
            </mat-expansion-panel-header>
            <ul class="content-rules">
                <li>
                    The guesser is shown a card which has a word on it and will need to use
                    a sentence to guess what that word means.
                </li>
                <li>
                    The guesser is not allowed to look at the peek button.
                </li>
            </ul>
        </mat-expansion-panel>

        <mat-expansion-panel class="sage-rules section-judge">
            <mat-expansion-panel-header>
                <mat-panel-title>
                    Judge
                </mat-panel-title>
            </mat-expansion-panel-header>
            <ul class="content-rules">
                <li>
                    The ones judging decide if the guesser is correct or not, and can give them hints.
                </li>

                <li>
                    If SAGE is being played on one screen, the judge can press the peek button to see
                    all of the hints without changing the guesser's points.
                </li>
            </ul>
        </mat-expansion-panel>

        <mat-expansion-panel class="sage-rules section-score">
            <mat-expansion-panel-header>
                <mat-panel-title>
                    Score
                </mat-panel-title>
            </mat-expansion-panel-header>
            <ul class="content-rules">
                <li>
                    If the the correct meaning of the word is found without needing any hints, the guesser will earn five points.
                </li>
                <li>
                    For every hint the guesser needs, they lose one of those five points.
                </li>
                <li>
                    Since there are four hints, the minimum score the guesser can get is one point.
                </li>
            </ul>
        </mat-expansion-panel>

        <mat-expansion-panel class="sage-rules section-cards">
            <mat-expansion-panel-header>
                <mat-panel-title>
                    Cards
                </mat-panel-title>
            </mat-expansion-panel-header>
            <ul class="content-hints">
                <li>
                    Each card comes with a word and four hints of different kinds that can be given for that word:
                </li>
                <li>
                    The first type of hint is a synonym, which is a word that means the same thing as another.
                </li>
                <li>
                    The second kind of hint is an antonym, which is a word that means the opposite as another.
                </li>
                <li>
                    The third type is called a general sense, which is a sentence that explains what the word
                    means.
                </li>
                <li>
                    The fourth kind is an example of the word, which is also a sentence which uses the word inside of it.
                </li>
                <li>
                    Every card has a hint of each of these types, and one is chosen randomly
                    if the guesser gets stuck on a word and needs help.
                </li>
            </ul>
        </mat-expansion-panel>
        <div class="play-button">
            <button id="play-button" mat-raised-button color="warn" [routerLink]="['/start']">Play</button>
        </div>
    </mat-card-content>
</mat-card>
