<mat-card>
    <mat-card-title id="help-title">Welcome to I am SAGE!</mat-card-title>
    <mat-divider></mat-divider>



    <mat-card-content>

        <h2>Sage is a game that will help you to learn new vocabulary words with your friends. You can become a Sage at English in no time!</h2>

        <mat-expansion-panel class="sage-rules  section-rules">
            <mat-expansion-panel-header>
                <mat-panel-title>
                    How To Play The Game
                </mat-panel-title>
            </mat-expansion-panel-header>
            <ul class="content-rules">
                <li>It is played with two people. One person is shown a card which has a word on it and will try to use a sentence to guess what that word means.</li>
                <li>The other person can decide if they are correct or not, and can give them hints.</li>
                <li>If you can guess the word correctly without needing any hints, you'll earn five points!</li>
                <li>If you are playing with your partner on one screen, your partner can press the peek button to see all of the hints without changing your points.</li>
                <li>To start a game, press play from the homepage, choose your deck, and press play!</li>
            </ul>

        </mat-expansion-panel>

        <mat-expansion-panel class="sage-rules section-hints">
            <mat-expansion-panel-header>
                <mat-panel-title>
                    Hints
                </mat-panel-title>
            </mat-expansion-panel-header>
            <ul class="content-hints">
                <li>Each word comes with four hints of different kinds that can be given:</li>
                <li>The first type of hint is a synonym, which is a word that means the same thing as another.</li>
                <li>The second kind of hint is an antonym, which is a word that means the opposite as another.</li>
                <li>The third type is called a General Sense. This hint is a sentence that explains what the word means.</li>
                <li>The fourth kind is an Example of the word. It is also a sentence which uses the word inside of it.</li>
                <li>Every word has one hint of each of these types that can be randomly shown to your partner if you get stuck on a word.</li>
                <li>Every time you need a hint you'll lose a point though, so watch out!</li>
            </ul>

        </mat-expansion-panel>

        <mat-expansion-panel class="sage-rules section-decks">
            <mat-expansion-panel-header>
                <mat-panel-title>
                    Decks
                </mat-panel-title>
            </mat-expansion-panel-header>
            <ul class="content-decks">
                <li>To make a new deck, press the play button and then press the pink button in the bottom-right corner and give your deck a name.</li>
                <li>To add cards to a deck, press the card button on the homepage, select the deck you would like to add the cards to, and select the cards on the screen you would like to add to the deck.
                When you are done, press the "add to deck" button.</li>
            </ul>

        </mat-expansion-panel>

        <mat-expansion-panel class="sage-rules section-cards">
            <mat-expansion-panel-header>
                <mat-panel-title>
                    Cards
                </mat-panel-title>
            </mat-expansion-panel-header>
            <ul class="content-cards">
                <li>To make new cards, press the card button, press "add a new card" and add the word and hints you would like the card to have.</li>
                <li>To edit a card, press the edit card in the card menu and select a card. You can then make changes to the word and the hints. When you are done, you can press "save changes" or press cancel.</li>
            </ul>
        </mat-expansion-panel>

        <h2>Have fun!</h2>
    </mat-card-content>
</mat-card>
