<h1 id="logo">I Am Sage</h1>
<h3 id="under-logo">Vocabulary</h3>

<div>
    <div id="playButton" class="button-row">
        <button id="play-button" class="double-button" mat-raised-button color="accent" [routerLink]="['/card']">Play</button>
    </div>
    <div id="cardButton" class="button-row">
        <button id="card-button" class="double-button" mat-raised-button color="primary" [routerLink]="['/card-list']">Cards</button>
    </div>
    <div id="deckButton" class="button-row">
        <button id="deck-button" class="double-button" mat-raised-button color="primary">Decks</button>
    </div>
    <div id ="settingButton" class="button-row">
        <button id="setting-button" class="double-button" mat-raised-button color="primary">Settings</button>
    </div>
</div>




