<mat-card>
    <mat-card-title id="logo">I Am Sage</mat-card-title>
    <mat-card-subtitle id="under-logo">Vocabulary</mat-card-subtitle>
    <div>
        <div id="playButton" class="button-row">
            <button id="play-button" class="double-button" mat-raised-button color="accent" [routerLink]="['/card']">
                Play
            </button>
        </div>
        <div id="cardButton" class="button-row">
            <button id="card-button" class="double-button" mat-raised-button color="warn" [routerLink]="['/card-list']">
                Cards
            </button>
        </div>
        <div id="deckButton" class="button-row">
            <button id="deck-button" class="double-button" mat-raised-button color="warn">Decks</button>
        </div>
        <div id="settingButton" class="button-row">
            <button id="setting-button" class="double-button" mat-raised-button color="warn">Settings</button>
        </div>
    </div>
</mat-card>





