button{
    margin:5px;
    border-radius:100px;
    background-color: mediumseagreen;
    border-style:solid;
    border-width:2px;
    border-color: black;
    width:60%;
    height:50px;
    max-width: 500px;
    font-size: 16pt;
}

button:hover{
    color: black;
}

.button-row{
    text-align: center;
}

#logo{
    text-shadow: 3px 3px #898989;
    font-family:Quattrocento;
    font-size: 50pt;
    text-align:center;
    margin-bottom:0px;
}

#under-logo{
    margin-top: 0px;
    text-align: center;
}
