button {
    margin: 5px;
    border: 1.5px solid black;
    border-radius: 100px;
    background-color: mediumseagreen;
    width: 60%;
    height: 50px;
    max-width: 500px;
    font-size: 16pt;
}

#play-button:hover {
    color: black;
}

#card-button:hover, #deck-button:hover, #help-button:hover {
    color: white;
}

.button-row {
    text-align: center;
}

#logo {
    white-space: pre;
    text-shadow: 3px 3px #898989;
    font-family: Quattrocento, sans-serif;
    font-size: 60pt;
    text-align: center;
    margin-bottom: 0px;
}

#under-logo {
    margin-top: 0px;
    text-align: center;
}

@media screen and (max-width: 600px) {
    #logo {
        text-shadow: 2px 2px #898989;
        font-size: 55px;
    }
}

@media screen and (max-width: 350px) {
    #logo {
        text-shadow: 2px 2px #898989;
        font-size: 45px;
    }
}

mat-card {
    padding-bottom: 50px;
}
