<td-layout #layout>
    <td-navigation-drawer flex sidenavTitle="SAGE">
        <mat-nav-list>
            <a mat-list-item [routerLink]="['/home']" (click)="layout.close()" routerLinkActive="nav-active"
               [routerLinkActiveOptions]="{exact: true}">
                <mat-icon>home</mat-icon>
                Home</a>
            <a mat-list-item [routerLink]="['/decks']" (click)="layout.close()" routerLinkActive="nav-active">
                <mat-icon>view_list</mat-icon>
                Decks</a>
            <a mat-list-item [routerLink]="['/card-list']" (click)="layout.close()" routerLinkActive="nav-active">
                <mat-icon>view_list</mat-icon>
                Cards</a>
            <a mat-list-item [routerLink]="['/help']" (click)="layout.close()" routerLinkActive="nav-active">
                <mat-icon>help</mat-icon>
                Help</a>
            <a mat-list-item [routerLink]="['/classrooms']" (click)="layout.close()" routerLinkActive="nav-active">
                <mat-icon>room</mat-icon>
                Classrooms</a>
            <a mat-list-item [routerLink]="['/users']" (click)="layout.close()" routerLinkActive="nav-active">
                <mat-icon>room</mat-icon>
                Users</a>
            <a mat-list-item [routerLink]="['/profile']" (click)="layout.close()" routerLinkActive="nav-active">
                <mat-icon>room</mat-icon>
                Profile</a>
        </mat-nav-list>
    </td-navigation-drawer>
    <td-layout-nav toolbarTitle="SAGE" navigationRoute="/">
        <div td-toolbar-content>
            <button mat-icon-button td-menu-button class="nav-launch" tdLayoutToggle>
                <mat-icon>menu</mat-icon>
            </button>
            <button mat-icon-button td-menu-button class="login-button" onclick="location.href= 'http://localhost:4567/api/authorize'">
                <mat-icon>account_circle</mat-icon>
            </button>

            <!--<div>-->
                <!--<p>Login</p>-->
                <!--<button mat-button>-->
                    <!--<mat-icon>-->
                        <!--login-->
                    <!--</mat-icon>-->
                <!--</button>-->
            <!--</div>-->
        </div>
        <router-outlet></router-outlet>
    </td-layout-nav>
</td-layout>
