#Title {
}

body {
    margin: 40px;
}

.menu{
    display: flex;
    justify-content: center;
}

.wrapper {
    margin-top: 1em;
    text-align: center;
    align-items: center;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(20em, 1fr));
    grid-template-rows: auto;
    grid-gap: 3px;
    background-color: transparent;
    color:black;
}
