<div id="side-menu">
    <button [ngClass]="{'hide': this.selectedButton =='select'}" color="warn" class="round-button" class="round-button"
            id="Select-Button" mat-raised-button (click)="changeButton('select')">Select
    </button>
    <button [ngClass]="{'hide': this.selectedButton !='select'}" color="accent" mat-raised-button class="round-button"
            id="Cancel-Button" (click)="changeButton('Cancel')">Cancel
    </button>
    <button [ngClass]="{'grey-out': this.selectedCards.length == 0 || this.selectedDeck == null}" color="warn" class="round-button" id="Add-Cards"
            mat-raised-button (click)="changeDeck('add')">Add
    </button>
    <button [ngClass]="{'grey-out': this.selectedCards.length == 0 || this.selectedDeck == null}" color="warn" class="round-button" id="Delete-Cards"
            mat-raised-button (click)="changeDeck('delete')">Delete
    </button>
    <mat-select placeholder="Deck" id="deck-dropdown">
        <mat-option *ngFor="let deck of decks" [value]="deck" (click)="selectDeck(deck)">
           <span id="{{deck.name}}"> {{ deck.name }} </span>
        </mat-option>
    </mat-select>
</div>
<div class="wrapper">
    <simple-card
        class="cards"
        id="{{card.word}}"
        *ngFor="let card of cards"
        (click)="select(card)"
        [word]="card.word"
        [_id]="card._id"
        [selected]="clearAllSelected ? clearSelected(card) : card.selected"
    ></simple-card>
</div>
