<div class="menu">
    <h2>Card List Menu</h2>
    <button mat-button (click)="changeButton('AddCards')">
        Add Cards to Deck
    </button>
    <button mat-button (click)="changeButton('Edit')">
        Edit Cards
    </button>
    <button mat-button>
        Create New Card
    </button>
    <button mat-button (click)="changeButton('Delete')">
        Delete Cards
    </button>
</div>
<div class="wrapper">
    <simple-card
        *ngFor="let card of cards"
        (click)="select(card)"
        [word] = "card.word"
        [_id] = "card._id"
        [selected]="card.selected"
    ></simple-card>
</div>



