
.hint-selected {
    background-color: lightskyblue;
}

.card-cont {
    display: none;
}

.show-hint {
    display: inline;
}

.card-desc {
    font-weight: bold;
}

.card-line {
    /*padding:5px;*/
    border-radius:2px;
}

.card-word{
    text-align: center;
}

