<mat-card>
    <mat-card-title class="card-word">{{ card.word }}</mat-card-title>
    <mat-divider></mat-divider>
    <mat-card-content>

        <span class="card-line" >
            <span class="card-synonym card-desc" [ngClass]="{'hint-selected': this.selected == 1}">Synonym:</span>
            <span class="synonym-cont card-cont" [ngClass]="{'show-hint': this.showHints[0]}"> {{ card.synonym }}</span>
        </span>
        <br>
        <br>
        <span class="card-line" >
            <span class="card-antonym card-desc" [ngClass]="{'hint-selected': this.selected == 2}">Antonym:</span>
            <span class="antonym-cont card-cont" [ngClass]="{'show-hint': this.showHints[1]}">{{ card.antonym }} </span>
        </span>
        <br>
        <br>
        <span class="card-line">
            <span class="card-general-sense card-desc" [ngClass]="{'hint-selected': this.selected == 3}">General usage:</span>
            <span class="general-sense-cont card-cont" [ngClass]="{'show-hint': this.showHints[2]}">{{ card.general_sense }}</span>
        </span>
        <br>
        <br>
        <span class="card-line" >
            <span class="card-example-usage card-desc" [ngClass]="{'hint-selected': this.selected == 4}">Example usage:</span>
            <span class="example-usage-cont card-cont" [ngClass]="{'show-hint': this.showHints[3]}">{{ card.example_usage }}</span>
        </span>
    </mat-card-content>
</mat-card>
