
.selected-arrow {
    float: left;
    background-color: transparent;
    border-radius: 100px;
    padding-left: 2px;
    padding-right: 2px;
    color: white;
}

.card-cont {
    display: none;
}

.hint-selected {
    background-color: lightgreen;
    color: black;
}

.show-hint {
    display: inline;
}

.card-desc {
    font-weight: bold;
}

.card-line {
    /*padding:5px;*/
    border-radius: 2px;
}

.card-word {
    text-align: center;
    padding: 10px;
}

.inside-line {
    margin-left: 22px;
}

