<mat-dialog-content class="pop-in-card-entire" id="pop-in-card">
    <h4 class="pop-in-card-word">{{ Word }}</h4>
    <mat-divider></mat-divider>
    <mat-list>
        <p class="pop-in-card-desc">Synonym</p>
        <div>
            <h4 mat-line class="pop-in-card-content">{{Synonym}}</h4>
        </div>
        <mat-divider></mat-divider>
        <p class="pop-in-card-desc">Antonym</p>
        <div>
            <h4 mat-line class="pop-in-card-content">{{Antonym}}</h4>
        </div>
        <mat-divider></mat-divider>
        <p class="pop-in-card-desc">General Sense</p>
        <div>
            <h4 mat-line class="pop-in-card-content">{{General_sense}}</h4>
        </div>
        <mat-divider></mat-divider>
        <p class="pop-in-card-desc">Example usage</p>
        <div>
            <h4 mat-line class="pop-in-card-content">{{Example_usage}}</h4>
        </div>

    </mat-list>
    <div id="button-controls">
        <hr>
        <button class="button">Edit</button>
    </div>
</mat-dialog-content>
