<mat-dialog-content class="card-entire">
    <h4 class="card-word">{{ Word }}</h4>
    <mat-divider></mat-divider>
    <mat-list>
        <p class="card-desc">Synonym</p>
        <div>
            <h4 mat-line class="card-cont">{{Synonym}}</h4>
        </div>
        <mat-divider></mat-divider>
        <p class="card-desc">Antonym</p>
        <div>
            <h4 mat-line class="card-cont">{{Antonym}}</h4>
        </div>
        <mat-divider></mat-divider>
        <p class="card-desc">General Sense</p>
        <div>
            <h4 mat-line class="card-cont">{{General_sense}}</h4>
        </div>
        <mat-divider></mat-divider>
        <p class="card-desc">Example usage</p>
        <div>
            <h4 mat-line class="card-cont">{{Example_usage}}</h4>
        </div>

    </mat-list>
    <div id="button-controls">
        <hr>
        <button class="button">Edit</button>
    </div>
</mat-dialog-content>
