.pop-in-card-desc {
    font-weight: bold;
}

.pop-in-card-word {
    white-space: pre;
    text-align: center;
    font-size: 15pt;
}

.round-button {
    border-radius: 100px;
    border-top-left-radius: 0px;
    border-style: solid;
    border-width: 1.5px;
    border-color: black;
}

.button-container{
    margin-top: 2%;
}

#deck-page-button{
    float: right;
}

#cancel-button{
    margin-right: 5%;
    float: right;
}

#delete-button{
    margin-left: 5%;
}
