body {
    padding: 40px;
}

.card {
    color: transparent;
    border-radius: 3px;
    padding: 30px;
    margin:5px;
    font-size: 150%;
}


.wrapper {
    margin-top: 5em;
    text-align: center;
    align-items: center;
    display: grid;
    grid-template-columns: 33% 33% 33%;
    grid-template-rows: auto;
    background-color: transparent;
    color: black;
}

#red{
    background-color: red;
}

#orange{
    background-color: orange;
}

#yellow{
    background-color: yellow;
}

#green{
    background-color: green;
}

#blue{
    background-color: blue;
}

#purple{
    background-color: purple;
}
